__pycache__/AgarosePlateInsert.cpython-312.pyc
__pycache__/gui_utils.cpython-312.pyc
dist/agaroseplatestamper-0.0.1-py3-none-any.whl
dist/agaroseplatestamper-0.0.1.tar.gz
src/agaroseplatestamper.egg-info/dependency_links.txt
src/agaroseplatestamper.egg-info/PKG-INFO
src/agaroseplatestamper.egg-info/requires.txt
src/agaroseplatestamper.egg-info/SOURCES.txt
src/agaroseplatestamper.egg-info/top_level.txt
